<p>Bonjour {{ username }},</p>

<p>Vous avez demandé à réinitialiser votre mot passe. Cliquez sur le lien suivant.</p>

<a href="{{ url }}">Confirmer</a>

<p>Si le bouton n'est pas opérationnel, voici le lien à copier-coller dans votre navigateur : {{ url }}</p>